$bgColor =  #409EFF              //主色调
$bgColor1 = #f1f1f1              //背景色
$bgColor2 = #ff9966              //辅色              //主文字标题
$fontColorhover = #666			//鼠标滑过文字颜色
$fontColor1 = #666               //辅助文字
$textColor2 = #666				//文字详情颜色
$gridColor = #A87F56
$bgColorGray = #ccc
$textHover = #4AA259
$fontBlack = #000
$titleFontsize = 30px
$viceTitleFontsize = 14px
$fontSize = 14px
$borderColor = #ccc
$borderColorWhite = #fff
$borderColorGray = #999
$inputBorder = #939393
$warnColor = #f60000
$boxshadow = 0 1px 15px #ccc    // 前台页面模块阴影
$borderradius = 3px             // 前台页面btn圆角
$btnhoverbg = #2b66c0             // 前台页面btn滑过

$productTitleSize = 30px
$productTitleSize2 = 14px

//布局、背景操作按钮
$assheight = 34px
$asswidth = 130px
$assbg = #2f2f2f
$assbghover = #444
$assborder = 1px solid rgba(0, 0, 0, .4)
$assradius = 3px
$backgroundborder1 = 3px
$backgroundborder2 = 0 0 3px 3px
$assfontsize = 13px
$assiconbg = #666
$assiconfontsize = 11px
$assiconradius = 99px
$assbtnbg1 = #525252
$assbtnbg2 = #93b719
$assbtnradius = 3px
$assbtnpadding = 3px
$assbtnbg1hover = #747272


//模块背景色
$modelBg01 = #fff
$modelBg02 = #f1f2f1
$modelBg03 = #383f48

//模块主标题文字
$modelTitlesize = 30px
$modelTitlesize2 = 16px
$modelTitlecolor = #333   

// 所有模板的遮罩蒙版
$allmasking = rgba(0, 0, 0, 0.39)

// 背景切换时文字颜色变换
$textColor = #fff
$fontColor = #333  

// 文字字号  
$fontsize1 = 36px     // 主标题  (产品、新闻、单页、联系我们、相册、招聘)
$fontsize2 = 18px     // 副标题
$fontsize3 = 24px     // 信息主标题
$fontsize4 = 20px     // 信息副标题
$fontsize5 = 16px     // 信息文本
$fontsize6 = 36px     // 头图主标题
$fontsize7 = 18px     // 头图副标题
$fontsize8 = 36px     // 单页主标题
$fontsize9 = 16px     // 单页副标题
$fontsize10 = 18px    // 单页文本
$marginb = 30px       // 主标题增加底部距离
$picurlb = 15px       // banner小图底部距离
// 高级添加图片、按钮、标题的btn属性
$addbtnfontsize = 13px
$addbtnbg = rgb(24, 24, 24)
$addbtnpadding = 6px 10px
$addbtnradius = 3px
$addbtncolor = #fff
// 高级图片遮罩蒙版属性
$maskbg = rgba(255, 255, 255, .4)
$maskborder = 1px solid rgba(0, 0, 0, 0.25)
$maskradius = 2px
// 高级信息的删除和移动小按钮属性
$display = none
$iconwidth = 23px
$iconheight = 23px
$iconfontsize = 16px
$iconradius = 3px
$iconbg = rgba(0, 0, 0, 1)
$iconcolor = #fff
// 高级弹框属性
$editbg = #2f2f2f
$editradius = 3px
$editbtnbg = #93b719
$editbtnbghover = #b3db2d
$editbtnbgborder = #93b719
$editbtnbg2 = #525252
$editbtnbghover2 = #747272
$editbtnbg2border = rgba(255, 255, 255, .25) rgb(82, 82, 82) rgb(82, 82, 82)
$editbtnfontsize = 12px
$editbtnfontcolor = #fff
$editbtnpadding = 6px 24px
$editinputbg = rgba(0, 0, 0, .4)
$editinputborder = rgb(0, 0, 0) rgb(51, 51, 51) rgb(68, 68, 68)
$editinputfontsize = 12px
// all模块中的按钮属性
$allbtnborder = 2px solid #fff
$allbtnradius = 3px
$allbtnbg = none
$allbtnpadding = 14px 28px
$allbtnfontsize = 20px
$allbtnfontcolor = #fff
$allbtnfontweight = 700
$allbtnbghover = #fff
$allbtnborderhover = #fff
$allbtnfontcolorhover = #444
$allbtnborder2 = 2px solid #193c4c
$allbtnfontcolor2 = #193c4c
$allbtnbghover2 = #193c4c
$allbtnborderhover2 = #193c4c
$allbtnfontcolorhover2 = #fff
// 高级最新编辑弹框属性
$maskeditbordercolor = #337ab7
$maskeditborder =  1px dashed #337ab7
$maskeditbtnbg = #fff
$maskeditbtnradius = 5px
$maskeditbtnshadow = 0 3px 5px #6d6b6b
$maskeditbtncolor = #444
$maskbtnpadding = 6px 10px